---
interface Project {
  id: string;
  title: string;
  description: string;
  thumbnail: string;
  images: string[];
  tech: string[];
  link: string | null;
  externalLinks?: { type: string; url: string }[];
}

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div class="bg-gray-800 rounded-lg shadow-xl p-6 hover:shadow-2xl transition-shadow duration-300">
  <a href={project.link} class="block">
    <div class="max-w-3xl mx-auto aspect-[4/3] bg-gray-700 rounded-lg p-4 mb-6">
      <img
        src={project.thumbnail}
        alt={`${project.title} Thumbnail`}
        class="w-full h-full object-contain"
      />
    </div>
    <h3 class="text-3xl font-bold mb-3 text-white">{project.title}</h3>
    <p class="text-gray-300 mb-6 text-lg">{project.description}</p>
    <div class="flex flex-wrap gap-3 mb-6">
      {project.tech.map((tech) => (
        <span class="bg-gray-700 text-blue-400 px-4 py-2 rounded-full text-sm">{tech}</span>
      ))}
    </div>
    <div class="flex justify-between items-center">
      <span class="inline-block text-blue-400 hover:underline text-lg font-semibold">View Details →</span>
      <!-- App Store and Google Play Links (Only for Prize Kingdoms) -->
      {project.title === "Prize Kingdoms" && (
        <div class="flex space-x-4">
          <a
            href="https://apps.apple.com/us/app/prize-kingdoms/id1554511237"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-400 hover:text-white transition-colors duration-300"
            aria-label="Prize Kingdoms on the App Store"
          >
            <i class="fab fa-app-store fa-2x"></i>
          </a>
          <a
            href="https://play.google.com/store/apps/details?id=com.inkgames.prizekingdoms&hl=en_US"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-400 hover:text-white transition-colors duration-300"
            aria-label="Prize Kingdoms on Google Play"
          >
            <i class="fab fa-google-play fa-2x"></i>
          </a>
        </div>
      )}
    </div>
  </a>
</div>